---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout>
    <div class="">
        <div class="h-full w-full p-10">
            <h1 class="text-xl">
                What's new
            </h1>
            <img src="/favicon.svg" alt='Image' class="w-20 h-20" />
            
        </div>
    </div>
</IndexLayout>
